---
import Layout from 'layouts/BaseLayout.astro'

import { getEntry, getEntries, getCollection } from 'astro:content'

const allPosts = await getCollection(
  'blog',
  ({ data }) => data.type !== 'page-meta',
)
const meta = await getEntry('blog', 'meta')
---

<Layout title={meta?.data.title} description={meta?.data.description}>
  <h1>{meta?.data.title}</h1>
  <p>{meta?.data.description}</p>

  <ul>
    {
      allPosts.map((p) => (
        <li>
          <a href={`/articles/${p.slug}`}>{p.data.title}</a>
        </li>
      ))
    }
  </ul>
</Layout>
