---
import { getCollection } from 'astro:content'

const projects = await getCollection('project').then((p) =>
  p.sort((a, b) => b.data.date.getTime() - a.data.date.getTime()),
)
---

<section class="flex flex-col gap-16 pt-12 pb-24">
  {
    projects.map((p) => (
      <div class="grid grid-cols-8 gap-8 w-full">
        <div class="col-span-4 flex flex-col gap-4">
          <a
            href={`/work/${p.slug}`}
            data-astro-prefetch="load"
            class="font-medium hover:underline decoration-2 underline-offset-4"
          >
            {p.data.title}
          </a>
          <p class="text-base leading-relaxed">{p.data.description}</p>

          <div class="flex flex-row items-center gap-2 mt-2">
            <a
              href={`/work/${p.slug}`}
              data-astro-prefetch="load"
              class="text-xs font-medium hover:underline decoration-2 underline-offset-4"
            >
              View project
            </a>
          </div>
          {/* <div class="flex flex-row gap-2">
            {p.data.labels.map((l) => (
              <span class="text-xs border border-gray-500 px-2 py-1 rounded-md font-mono ">
                {l}
              </span>
            ))}
          </div> */}
        </div>

        <div class="col-span-4 h-[300px] bg-black rounded-lg overflow-hidden" />
      </div>
    ))
  }
</section>
